Options -MultiViews
RewriteEngine On

RewriteBase /STORE/STORE-APP/mvc_bo2/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]